#calculator {
    display: flex;
    width: 400px;
    height: 600px;
    border: solid;
    flex-direction: column;

}

#display {
    width: 300px;
    height: 100px;
    margin: 50px;
    border: solid;
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.line2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}