#calculator {
    display: flex;
    width: 400px;
    height: 700px;
    border: solid;
    border-radius: 10px;
    flex-direction: column;
    background-color:rgb(0, 30, 95);
    border-color: rgb(255, 247, 136);
}

#display {
    width: 300px;
    height: 100px;
    margin: 50px;
    border-radius: 15px;
    background-color: rgb(29, 70, 255);
}

button {
    background-color: rgb(228, 228, 228);
    font-size: 25px;
    border-radius: 10px;
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.line2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1;
}

.line4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#zero {
    height: 100px;
    width: 200px;
}

#point {
    height: 100px;
    width: 100px;
}

#equal {
    height: 100px;
    width: 100px;
}

#one,
#two,
#three,
#plus {
    height: 100px;
    width: 100px;
}

#four,
#five,
#six,
#minus {
    height: 100px;
    width: 100px;
}

#seven,
#eight,
#nine,
#multiplication {
    height: 100px;
    width: 100px;
}

#clear,
#backspace,
#remainder,
#division {
    height: 100px;
    width: 100px;
}